<h1 class="title">Choose Your Portfolio To Analayze</h1>
<h4>Please choose the <strong>Stocks</strong> and choose <strong>Date</strong> for the beginning of your analysis</h4>
<%= render 'portfolios/form' %>
