<h1 class="title">Select Stocks for Your Portfolio</h1>
<h1><i class="fa fa-line-chart fa-3x title" aria-hidden="true"></i></h1>
<h4>Please choose the <strong>Stocks</strong> and choose <strong>Date</strong> for the beginning of your analysis</h4>
<%= render 'portfolios/form' %>
