<h1 class="title">Choose a Team</h1>

<%= simple_form_for @soccerbet do |f| %>
  <%= f.association :soccerteams, input_html: { class: 'chosen-select form-control' }, label_html: { class: 'col-xs-12' } %>
  <%= f.submit class: 'btn btn-success btn-lg' %>
<% end  %>
