<h1>Choose Stocks to Analyze</h1>

<%= simple_form_for @stock do |f| %>
<%= f.select :portfolio,
  Ticker.all.map { |u| [u.ticker, u.id] },
               { include_blank: true },
               { class: 'chosen-select' }
%>
  <%# f.association :ticker, input_html: { class: 'chosen-select form-control' } %>
  <%= f.association :ticker, :collection => Ticker.order(:ticker), :required => true, :autofocus => true, :label => 'Pick an Ticker', :input_html => {:class => "chzn-select" }  %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
