/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require chosen
 *= stub active_admin
 * require_tree .
 * require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap1";
@import "variables";
@import "variables2";
@import "bootswatch";
@import "font-awesome";
@import "bootstrap-social";


.image-container {
  width: 30vw;
  padding:10px;
  background-color: transparentize(white, 0.1);
  border: 1px solid rgba(42,161,152, 1);
    box-shadow: inset 5px 5px 21px 0px rgba(0,0,0,0.75);
}

.main_title_container {
  position: absolute;
  top: 5vh;
  right: 0px;
  background-color: #08181C;
  padding-left: 20vw;
  padding-right: 3vw;
  border-bottom-left-radius: 40px;
  border: 1px solid white;
  border-right: none;
}

.main_title_container_2 {
  position: absolute;
  top: 20vh;
  right: 0px;
  padding-right: 3vw;
  width:45vw;
}



.main_title {
  position: absolute;
  top: 14vh;
  right: 0px;
  text-align: right;
  background-color: rgba(42,161,152, 1);
  border-radius: 0px;
  border-bottom-left-radius: 60px;
  padding: 20px;
  height: 35vh;
  width:45vw;
  padding-left: 40px;
  padding-right: 70px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-right: none;

}

.main_title {
  color: #08191D;
}

.parallax {
    /* The image used */
    // background: url(https://media.giphy.com/media/3o7Zen3RCzrnhHnSkU/giphy.gif) no-repeat center center fixed;
    // background: url(https://media.giphy.com/media/l0MYy5GWhv28y71S0/giphy.gif) no-repeat center center fixed;
    // background: url(https://media.giphy.com/media/e0vDDUmcya6l2/giphy.gif) no-repeat center center fixed;
    // background: url(http://68.media.tumblr.com/2b27908fac782ca54cc2b3aff6862423/tumblr_mtr2z74Mr41si1lago1_500.gif) no-repeat center center fixed;
    // background: url(https://media.giphy.com/media/3o7TKFmSsKuJU9eygU/giphy.gif) no-repeat center center fixed;
    // background: url(https://media.giphy.com/media/3o7TKLKBXz6RVuEDDO/giphy.gif) no-repeat center center fixed;
    // background: url(https://media.giphy.com/media/l0MYDw3YYsdBLMxa0/giphy.gif) no-repeat center center fixed;
    background: linear-gradient(rgba(0,43,54, 0.55), rgba(0, 0, 0, 0.55)),
                rgba(0,43,54, 0.9) url('https://media.giphy.com/media/3o7TKLKBXz6RVuEDDO/giphy.gif') no-repeat center;
    /* Full height */
    height: 70vh;
    margin-top: -30px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



html {
  position: relative;
   min-height: 100%;
}

body {
  margin-bottom: 150px;
  transition: all 1s ease;
}

.btn {
  border-bottom-right-radius: 20px !important;
  transition: all .1s ease-in;
}
.alert {
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-color: white;
  border-left: 0px solid red;

}

.btn-lg {
  border-bottom-right-radius: 40px !important;
}

.backgroundChange {
  background-color: darken($color1, 3%);
}

.title1 {
  transition: all .2s ease-in;
  border-radius: 0px;

}

.btn-delete-float {
  position: fixed;
  border-left: none;
  z-index: 999;
  bottom: 20vh;
  left: 0px;
  width: 5%;
  overflow: hidden;
}

.btn-update-float {
  position: fixed;
  border-left: none;
  width: 5%;
  overflow: hidden;
  bottom: 30vh;
  left: 0px;
  z-index: 999;
}
.btn-update-float:hover, .btn-delete-float:hover {
  border-left: none !important;
  width: 20%;
  overflow: hidden;
  border-color: white !important;
}

*:focus {
  outline: none !important;
}
.main_logo, .title {
  transition: all .5s ease-in;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #073642;
  border-top: 1px solid #2AA198;
  font-size: 150%;
}

.form-title {
  font-size: 200%;
  color: white;
}

.money-input{
  font-size: 400%;
  height: 150%;
  text-align: center;
}


.activated {
  background-color: rgba(42,161,152, .6);
  border: 1px solid #2AA198 !important;
  box-shadow: inset 10px 10px 21px 0px rgba(0,0,0,0.75);
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.togglers{
  padding-bottom:18px;
  border: 1px solid white;
}

#container-messages {
  width: 30vw;
  position: absolute;
  top: 15vh;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-bottom: 1px solid #2AA198 !important;
}
.title {
  color: white;
}

.title1:hover{
  box-shadow: inset 10px 10px 21px 0px rgba(0,0,0,0.75);
}

.btn:hover {
  box-shadow: inset 10px 10px 21px 0px rgba(0,0,0,0.75);
  border: 1px solid rgba(42,161,152, .5);
}

.btn-sm:hover {
  box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.75);
  border: 1px solid rgba(42,161,152, .5);
}

.betFixed {
  opacity: 0.4;
  font-size: 55px;
  position: fixed;;
  top: 13vh;
  right: 1vw;
  z-index: 99999;
  transition: all .2s ease-in;

}

.betFixed:hover {
  font-size: 60px;
  cursor: pointer;
  opacity: 0.9;
  text-shadow: 3px 3px black;
}


.highcharts-background, .highcharts-plot-background {
  fill: $color1;
}

text{
  fill: #839496 !important;
}


.btn-menu {
  width: 100%
}


.chosen-container-multi{
  width: 400px !important;

}
.chosen-container-multi .chosen-choices {
    border-radius: 3px;
    // background-image: linear-gradient($color1 99%, black 1%);
    background-image: linear-gradient(45deg, $color1 80%, #2AA198 20%);
    padding: 10px;

}
.chosen-container-multi .chosen-choices li.search-choice {
    background-image: linear-gradient(45deg, $color1 90%, #2AA198 10%);
    padding-right:30px;
    color: white;

}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: white !important;
}

.highcharts-background{
  width: 20px !important;
}


.hoverable:hover {
  cursor: pointer;
}



// HOVER BUTTONS


/* Set-up */

/* Container box to set the sides relative to */
.cube{
	margin: 0 auto;
	height: 100px;

	-webkit-transition: -webkit-transform .33s;
	transition: transform .33s; /* Animate the transform properties */

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; /* <-NB */
}

/* The two faces of the cube */
.flippety,.flop {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 100px;
}

/* Position the faces */
.flippety {
	-webkit-transform: translateZ(50px);
	transform: translateZ(50px);
}

.flop {
	-webkit-transform: rotateX(-90deg) translateZ(-50px);
	transform: rotateX(-90deg) translateZ(-50px);
}

/* Rotate the cube */
.cube:hover {
	-webkit-transform: rotateX(89deg);
	transform: rotateX(89deg); /* Text bleed at 90º */
}


// JQUERY FINAL COUNTDOWN STYLES


.main-example {
  margin: 0 auto;
  width: 355px;
}
.main-example .countdown-container {
  height: 130px;
}
.main-example .time {
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  display: inline-block;
  text-align: center;
  position: relative;
  height: 95px;
  width: 65px;

  -webkit-perspective: 479px;
  -moz-perspective: 479px;
  -ms-perspective: 479px;
  -o-perspective: 479px;
  perspective: 479px;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.main-example .count {
  background: #2AA198;
  color: #f8f8f8;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  line-height: 2.7em;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  top: 0;
  width: 100%;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
}
.main-example .count.top {
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-radius: 5px 5px 0 0;
  height: 50%;

  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.main-example .count.bottom {
  background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -moz-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -ms-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -o-linear-gradient(rgba(255,255,255,0.1), transparent);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 0 0 5px 5px;
  line-height: 0;
  height: 50%;
  top: 50%;

  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.main-example .count.next {
}
.main-example .label {
  font-size: normal;
  margin-top: 5px;
  display: block;
  position: absolute;
  top: 95px;
  width: 100%;
}
/* Animation start */
.main-example .count.curr.top {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  z-index: 3;
}
.main-example .count.next.bottom {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  z-index: 2;
}
/* Animation end */
.main-example .flip .count.curr.top {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;

  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.main-example .flip .count.next.bottom {
  -webkit-transition: all 250ms ease-in-out 250ms;
  -moz-transition: all 250ms ease-in-out 250ms;
  -ms-transition: all 250ms ease-in-out 250ms;
  -o-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms;

  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
@media screen and (max-width: 48em) {
  .main-example {
    width: 100%;
  }
  .main-example .countdown-container {
    height: 100px;
  }
  .main-example .time {
      height: 70px;
      width: 48px;
  }
  .main-example .count {
    font-size: 1.5em;
    line-height: 70px;
  }
  .main-example .label {
    font-size: 0.8em;
    top: 72px;
  }
}

/**
 * Home module
 */
.home-welcome {
  color: white;
  font-size: 125%;
}

@media screen and (max-width: 48em) {
  .home-welcome {
    padding: 0;
  }
  .home-welcome h1 {
    display: none;
  }
  .home-welcome .pure-button {
    display: block;
    margin-top: 20px;
    margin-right: 0;
  }
  .home-content .download,
  .home-video-container {
    display: none;
  }
}

//



// background-image: linear-gradient(45deg, #361752, #B31B67);
// background-image: -webkit-linear-gradient(45deg, #361752, #B31B67);
// background-image: -moz-linear-gradient(45deg, #361752, #B31B67);
// background-image: -ms-linear-gradient(45deg, #361752, #B31B67);
// background-image: -o-linear-gradient(45deg, #361752, #B31B67);
