/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require chosen
 * require_tree .
 * require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap1";
@import "variables";
@import "variables2";
@import "bootswatch";
@import "font-awesome";

#container-messages {
  width: 30vw;
  position: absolute;
  top: 15vh;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-bottom: 1px solid #2AA198 !important;
}
.title {
  color: white;
}
body {
  transition: all 2s ease;
}

.betFixed {
  opacity: 0.4;
  font-size: 55px;
  position: fixed;;
  top: 13vh;
  right: 1vw;
  z-index: 99999;
  transition: all .2s ease-in;

}

.betFixed:hover {
  font-size: 60px;
  cursor: pointer;
  opacity: 0.9;
  text-shadow: 3px 3px black;
}


.highcharts-background, .highcharts-plot-background {
  fill: $color1;
}

text{
  fill: #839496 !important;
}


.btn-menu {
  width: 100%
}


.chosen-container-multi{
  width: 400px !important;

}
.chosen-container-multi .chosen-choices {
    border-radius: 3px;
    // background-image: linear-gradient($color1 99%, black 1%);
    background-image: linear-gradient(45deg, $color1 80%, #2AA198 20%);
    padding: 10px;

}
.chosen-container-multi .chosen-choices li.search-choice {
    background-image: linear-gradient(45deg, $color1 90%, #2AA198 10%);
    padding-right:30px;
    color: white;

}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: white !important;
}

.highcharts-background{
  width: 20px !important;
}


.hoverable:hover {
  cursor: pointer;
}


.alert-danger, .btn-danger {

}
