/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require chosen
 *= stub active_admin
 * require_tree .
 * require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap1";
@import "variables";
@import "variables2";
@import "bootswatch";
@import "font-awesome";

.main_title {
  position: absolute;
  top: 14vh;
  right: 0px;
  text-align: right;
  background-color: rgba(42,161,152, 1);
  border-radius: 0px;
  border-bottom-left-radius: 60px;
  padding: 20px;
  height: 30vh;
  padding-left: 40px;
  padding-right: 70px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-right: none;

}

.main_title {
  color: #08191D;
}

.parallax {
    /* The image used */
    // background: url(https://media.giphy.com/media/3o7Zen3RCzrnhHnSkU/giphy.gif) no-repeat center center fixed;
    // background: url(https://media.giphy.com/media/l0MYy5GWhv28y71S0/giphy.gif) no-repeat center center fixed;
    // background: url(https://media.giphy.com/media/e0vDDUmcya6l2/giphy.gif) no-repeat center center fixed;
    // background: url(http://68.media.tumblr.com/2b27908fac782ca54cc2b3aff6862423/tumblr_mtr2z74Mr41si1lago1_500.gif) no-repeat center center fixed;
    // background: url(https://media.giphy.com/media/3o7TKFmSsKuJU9eygU/giphy.gif) no-repeat center center fixed;
    // background: url(https://media.giphy.com/media/3o7TKLKBXz6RVuEDDO/giphy.gif) no-repeat center center fixed;
    // background: url(https://media.giphy.com/media/l0MYDw3YYsdBLMxa0/giphy.gif) no-repeat center center fixed;
    background: linear-gradient(rgba(0,43,54, 0.55), rgba(0, 0, 0, 0.55)),
                rgba(0,43,54, 0.9) url('https://media.giphy.com/media/3o7TKLKBXz6RVuEDDO/giphy.gif') no-repeat center;
    /* Full height */
    height: 55vh;
    margin-top: -30px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



html {
  position: relative;
   min-height: 100%;
}

body {
    margin-bottom: 150px;
}

.btn {
  border-bottom-right-radius: 20px !important;
}
.alert {
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-color: white;
  border-left: 0px solid red;

}

.btn-lg {
  border-bottom-right-radius: 40px !important;
}

.backgroundChange {
  background-color: darken($color1, 3%);
}

.main_logo, .title {
  transition: all .5s ease-in;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #073642;
  border-top: 1px solid #2AA198;
  font-size: 150%;
}



.activated {
  background-color: #002B36;
  border: 1px solid #2AA198 !important;
  box-shadow: inset 0 0 5px
}
.togglers{
  padding-bottom:18px;
  border: 1px solid white;
}

#container-messages {
  width: 30vw;
  position: absolute;
  top: 15vh;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-bottom: 1px solid #2AA198 !important;
}
.title {
  color: white;
}
body {
  transition: all 2s ease;
}

.btn:hover {
box-shadow: inset 10px 10px 81px 0px rgba(0,0,0,0.75);
}

.betFixed {
  opacity: 0.4;
  font-size: 55px;
  position: fixed;;
  top: 13vh;
  right: 1vw;
  z-index: 99999;
  transition: all .2s ease-in;

}

.betFixed:hover {
  font-size: 60px;
  cursor: pointer;
  opacity: 0.9;
  text-shadow: 3px 3px black;
}


.highcharts-background, .highcharts-plot-background {
  fill: $color1;
}

text{
  fill: #839496 !important;
}


.btn-menu {
  width: 100%
}


.chosen-container-multi{
  width: 400px !important;

}
.chosen-container-multi .chosen-choices {
    border-radius: 3px;
    // background-image: linear-gradient($color1 99%, black 1%);
    background-image: linear-gradient(45deg, $color1 80%, #2AA198 20%);
    padding: 10px;

}
.chosen-container-multi .chosen-choices li.search-choice {
    background-image: linear-gradient(45deg, $color1 90%, #2AA198 10%);
    padding-right:30px;
    color: white;

}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: white !important;
}

.highcharts-background{
  width: 20px !important;
}


.hoverable:hover {
  cursor: pointer;
}



// HOVER BUTTONS


/* Set-up */

/* Container box to set the sides relative to */
.cube{
	margin: 0 auto;
	height: 100px;

	-webkit-transition: -webkit-transform .33s;
	transition: transform .33s; /* Animate the transform properties */

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; /* <-NB */
}

/* The two faces of the cube */
.flippety,.flop {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 100px;
}

/* Position the faces */
.flippety {
	-webkit-transform: translateZ(50px);
	transform: translateZ(50px);
}

.flop {
	-webkit-transform: rotateX(-90deg) translateZ(-50px);
	transform: rotateX(-90deg) translateZ(-50px);
}

/* Rotate the cube */
.cube:hover {
	-webkit-transform: rotateX(89deg);
	transform: rotateX(89deg); /* Text bleed at 90º */
}
