<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Stock Bot <i class="fa fa-line-chart" aria-hidden="true"></i></a>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a> <span class="sr-only">(current)</span></a></li>
        <li><%= link_to 'Portfolios', user_portfolios_path(current_user) %></li>
        <li><%= link_to 'Currencies', currencies_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.display_name, user_path %></li>
          <%# if current_user.is_admin == true %>
            <li><%# link_to "Admin Dashboard", admin_dashboard_index_path %></li>
          <% end %>
          <li><%# link_to '<i class="fa fa-bookmark" aria-hidden="true"></i>'.html_safe, bookmarks_user_path(current_user) %></li>
          <li><%# link_to '<i class="fa fa-line-chart" aria-hidden="true"></i>'.html_safe, stats_user_path(current_user) %></li>
          <li><%# link_to 'Sign Out', sessions_path, method: :delete %></li>
        <%# else %>
          <li><%# link_to 'Sign Up', new_user_path %></li>
          <li><%# link_to 'Sign In', new_session_path %></li>
        <%# end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

</nav>
